#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form, .information {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input {
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 5px;
}